@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
body{
    font-family: "Fredoka", sans-serif;
    background-color: #041562;
}
/*Por lo genral se trabaja en multiplos de 4*/
/* SELECTOR DE TIPO
h1{
    color: lightcoral;
}
*/
/*CLASE
.titulo {
    color: lightcoral;
}
    */
/*ID*/
/*
#titulo{
    color :azure;
}
    */




/*flexbox solo de una dimension o que trabajen juntas las propiedades, elemntos hijos o padres
etiquetas padres que tengan elementos por dentro
*/
#seleccion-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas{
    display: flex;
    /* gap espaciado*/
    gap :10px;
}
.titulo {
    color: white;
    font-size: 32px;
    
}
.subtitulo {
    color: white;
    font-size: 20px;
}
/*Padding espaciado interno, margin espaciado externo*/

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background:  #11468F;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    /*
    border: 1px  hotpink;
    */
    border-radius: 20px;
    color: white;
    display: flex;/*Para que se ubique al lado los elementos*/
    align-items: center;

}
/* clase y selector de tipo*/
.tarjeta-de-mokepon img{
    width: 80px;

}
/*De acuerdo a las manecillas de reloj*/
#btn-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
}
/*selector de tipo*/
input {
    display: none;

}
/*primero con el div mas grande */

#seleccion-ataque {
    /*display: flex;esto esta en el js*/ 
    flex-direction: column;
    align-items: center;
}

.btn-de-ataque{
    background-color: #11468F;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    border: transparent;
    width: 100px;
    color: white;
    font-family:sans-serif;
}